@tailwind base;

@tailwind components;

@tailwind utilities;

// fix for safari zoom
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

@supports (-webkit-overflow-scrolling: touch) {
  input, textarea, select:focus {
    font-size: 16px;
  }
}

table {
  border-spacing: 0;
  border: 1px solid black;
  width: 100%;
  padding: 0;
}

tr {
  :last-child {
    td {
      border-bottom: 0;
    }
  }
}

th,td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;

  :last-child {
    border-right: 0;
  }
}